@font-face {
    font-family: geforceBold;
    src: url(src/font/GeForce-Bold-Alt.ttf);
}
@font-face {
    font-family: interThin;
    src: url(src/font/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: IBMPlexSans;
    src: url(src/font/IBMPlexSans-Regular.ttf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    margin: 0px;
}

a:link
{
    color: gray;
    text-decoration: none;
}
a:visited
{
    color: gray;
    text-decoration: none;
}

footer{
    background-color: #343434;
    color: white;
    font: 2em "IBMPlexSans";
    font-size: 20px;
    margin: 0px;
    margin-top: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
}
footer p{
    margin-left: 50px;
}
footer a:visited{
    color: #F4F4F4;
    
}

a.aButton{
    font: .5em "IBMPlexSans";

    color: gray;
    background-color: #222;
    padding: 10px;
    border-radius: 15px;
    align-self: flex-start;
}
a.aButton:hover{
    color: white;
    background-color: #343434;
    cursor: pointer;
}
div#collabHorizontal a.aButton{
    font: .7em "IBMPlexSans";
    
    align-self: center;
    
}

div#mainGrid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

div#navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;
    font: 2em "geforceBold";

    color: gray;
    background-color: black;
    
    margin-top: 0px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
div#navbar a:hover:not(#logoNav), #currentPage{
    color: white;
    background-color: #343434;
}
div#navbar > a, #navbar > p
{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div#navbar a:visited
{
    color: gray;

}
p#logoNav{
    font-size: 35px;
    color: white;
    cursor: default !important;
}
p#currentPage{
    cursor: default !important;
}

div.contentPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    color: white;
    font: 2em "interThin";
}

div.horizontalField{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 50px;
}
div.horizontalFieldReversed{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 50px;
}

div.horizontalField img{
    width: 700px;
}
div.horizontalFieldReversed img{
    width: 700px;
}

div.verticalField{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 70%;
}
div.verticalField div.textBlock{
    width: 80%;
}
div.horizontalField div.verticalField{
    width: 50%;
}
div#collabHorizontal div.verticalField{
    align-items: center;
}

div.textBlock{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    width: 40%;
}
div.textBlock p, div.textBlock label{
    font: 2em "IBMPlexSans";
    font-size: 20px;

    width: 65%;

    margin-bottom: 0px;
}
div.textBlock h1, div.textBlock h2, div.textBlock h3, div.textBlock h4, div.textBlock h5{
    width: 70%;

    margin-bottom: 0px;
    padding-bottom: 0px;
}
div.textBlock p>a{
    color: gray;
}
div.textBlock label{
    margin-top: 8px;
    font-weight: bold;
}
div.textBlock input{
    width: 100px;
    margin-left: 5px;
    margin-top: 2px;
}
div.textBlock input[type=text]{
    width: 150px;
}
div.textBlock input[type=submit]{
    margin-top: 25px;
    font: 2em "IBMPlexSans";
    font-size: 15px;
    font-weight: bold;
}

div.textBlock form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-top: 15px;
}

div.verticalFlexGrid{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
div.verticalFlexGrid div.textBlock{
    margin-left: -400px;
}

div.cardField{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 50px;

    width: 80%;
}
div.cardContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;

    background-color: white;
    
    border-radius: 25px;
    width: 25%;
}

div.cardContainer summary{
    color: white;
    background-color: #343434;
    font: 25px "IBMPlexSans";
    font-weight: bold;

    text-align: center;
    flex-grow: 1;


    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}

div.cardContainer details[open]{
    background-color: #343434;
    font: 0.5em "IBMPlexSans";
    
    text-align: center;
    flex-grow: 1;


    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 15px;
    padding-top: 0px;
}
div.cardContainer details[open] summary{
    font: 25px "IBMPlexSans";
    font-weight: bold;
}

div.cardContainer img{
    width: 100%;
    border-radius: 25px;
}
div.cardContainer summary:hover{
    cursor: pointer;
}

div.cardContainer a{
    color: white;
    background-color: #222;
    font: 25px "IBMPlexSans";
    font-weight: bold;

    text-align: center;
    flex-grow: 1;


    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 8px;
    padding-top: 8px;

    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

div#badgeCodeBox{
    margin-top: 100px;
    margin-bottom: 100px;
    font: 1.5em "IBMPlexSans";
}
div#badgecodeBox input{
    color: #555;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#backToIndex{
    font: 0.7em "IBMPlexSans";
    font-weight: bold;
}

img#fakeMap{
    border-radius: 30px;
}

a.aButton#mapValidation{
    margin-top: 50px;
    align-self: center;
}

#pushedFooter{
    margin-top: 350px;
}

div.accountCardContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    margin-top: 30px;
}

div.accountCard, a:has(div.accountCard){
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: #343434;
}
div.accountCard h4{
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 0px;
    font: .7em "IBMPlexSans";
    font-weight: bold;
    color: white;

}
div.accountCard p{
    margin-left: 30px;
    font: .4em "IBMPlexSans";
    color: #ccc
}