@font-face {
    font-family: geforceBold;
    src: url(src/font/GeForce-Bold-Alt.ttf);
}
@font-face {
    font-family: interThin;
    src: url(src/font/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: IBMPlexSans;
    src: url(src/font/IBMPlexSans-Regular.ttf);
}

body{
    background-color: black;
}

#mainGrid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;
    font: 2em "geforceBold";
    color: gray;
    background-color: black;
    margin: -8px;
    margin-top: 0px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


#logoNav{
    font-size: 35px;
    color: white;
}

#navbar div:hover:not(#logoNav),#currentPage{
    color: white;
    background-color: #343434;
    cursor: pointer;
}

#navbar > div{
    padding-left: 50px;
    padding-right: 50px;
}

#currentPage{
    cursor: default !important;
}

.contentPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    color: white;
    font: 2em "interThin";
}

.indexField{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.indexFieldReversed{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.indexField img{
    width: 700px;
}
.indexFieldReversed img{
    width: 700px;
}

.textBlock{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}
.textBlock p{
    font: 2em "IBMPlexSans";
    font-size: 20px;
    width: 60%;
}
.textBlock h1{
    width: 70%;
}
