@font-face {
    font-family: geforceBold;
    src: url(src/font/GeForce-Bold-Alt.ttf);
}
@font-face {
    font-family: interThin;
    src: url(src/font/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: IBMPlexSans;
    src: url(src/font/IBMPlexSans-Regular.ttf);
}

body{
    background-color: black;
}

.mainGrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 1fr;
}

.navbar{
    display: grid;
    grid-template: 1fr / repeat(7, 1fr);
    height: fit-content;

    text-align: center;
    font: 2em "geforceBold";
    color: gray;
    background-color: black;
    margin: -8px;
    margin-top: 0px;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    grid-row-start: 1;
}


.logoNav{
    grid-column-start: 2;
    font-size: 35px;
    color: white;
}

.navbar a{
    padding-left: 10px;
    padding-right: 10px;
}
.navbar a:link, .navbar a:visited{
    color: gray;
    text-decoration: none;
}

.navbar a:hover{
    color: white;
    background-color: #343434;
}

.indexPage{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    color: white;
    grid-row-start: 2;
    font: 2em "interThin";
}

.indexTitle{
    grid-column: 2/span 1;
}
.indexImage{
    grid-column: 4;
    grid-row: 1 / span 2;
    width: 800px;
}

.indexText{
    grid-column: 2;
    grid-row: 2;
}